#header {
    background-color: #1f425d !important;
    border-radius: 1rem;
    font-family: "Inter var", sans-serif;
}

#home_item {
    margin-left: 1rem;
}

.p-menuitem-text, .p-menuitem-icon {
    color: white;
    font-size: large;
}

.p-menuitem:hover .p-menuitem-text, .p-menuitem:hover .p-menuitem-icon {
    color: #1f425d;
}

.p-focus .p-menuitem-text, .p-focus .p-menuitem-icon {
    color: #1f425d;
}

#logo_img {
    height: 5rem;
    width: 15rem;
}

#cerrarSesion_btn{
    color: white;
}

.user-menu {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.user-menu:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
}
