.p-menu .p-menuitem-link {
    color: #333 !important;
    background: white !important;
    display: flex;
    align-items: center;
}

.p-menu .p-menuitem {
    background: white !important;
    padding: 10px 15px !important;
}

.p-menu .p-menuitem:hover {
    background: rgba(0, 0, 0, 0.05) !important;
}

.p-menu .p-menuitem-link .p-menuitem-icon {
    color: #333 !important; 
    margin-right: 10px !important;
}

.p-tieredmenu-overlay .p-menuitem-text {
    color: #333 !important;
}

.p-splitbutton-defaultbutton {
    background-color: #4ab9cf;
    border-color: #4ab9cf;
}

.p-splitbutton-menubutton {
    background-color: #4ab9cf;
    border-color: #4ab9cf;
}