/* .card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
} */
#home_div {
    display: flex;
    justify-content: center;
}

#home_title {
    margin-top: 10rem;
    padding: 1rem;
    border: 5px solid #1f425d;
    border-radius: 1rem;
}