#form_div {
    width: 100%;
    padding-bottom: 0;
}

#peso_input_palletForm, #ubicacion_input_palletForm {
    margin-left: 2rem;
}

#tipo_input_palletForm {
    height: 3rem;
    margin-top: 0;
}

#form_row {
    align-items: center;
}